<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eastteam.myprogram.dao.SurveyReceiverMybatisDao">
    
    <resultMap id="surveyReceiverDetailMap" type="SurveyReceiver">
		<result property="surveyId" column="survey_id"/>
		<result property="userId" column="user_id"/>
		<result property="nickName" column="nickName"/>
		<result property="status" column="status"/>
		<result property="update_timeStamp" column="update_timestamp"/>
	</resultMap>
    
	<select id="search" parameterType="map" resultMap="surveyReceiverDetailMap">
		select a.survey_id, a.user_id, a.nickName, a.status ,a.update_timestamp from survey_receivers a where a.survey_id = #{surveyId}
	</select>
	
	<select id="getPointedSurveyReceiver" parameterType="map" resultMap="surveyReceiverDetailMap">
		select a.survey_id, a.user_id, a.nickName, a.status ,a.update_timestamp from survey_receivers a where a.survey_id = #{surveyId} and a.user_id=#{userId}
	</select>
	
	<select id="allSurveysByUser" parameterType="String" resultMap="surveyReceiverDetailMap">
		select a.survey_id, a.user_id, a.nickName, a.status, a.update_timestamp from survey_receivers a where a.user_id = #{userId}
	</select>
	
	<insert id="save" parameterType="java.util.Map" >
	    insert into survey_receivers(survey_id,user_id,nickName,status,update_timestamp) values
            <foreach collection="surveyReceivers"  item="item" index="index" separator=",">  
               (#{item.surveyId},#{item.userId},#{item.nickName},#{item.status},now())
            </foreach>
	</insert>
	
	<insert id="saveWithoutGroup" parameterType="SurveyReceiver" >
	    insert into survey_receivers(survey_id,user_id,status,update_timestamp) values
         
               (#{surveyId},#{userId},#{status},now())
            
	</insert>
	
	<update id="update" parameterType="SurveyReceiver">
	    update survey_receivers
        	<set>
            	status=#{status},update_timestamp=#{update_timeStamp}
        	</set>
        	where survey_id=#{surveyId} and user_id=#{userId}
	</update>
	
	
</mapper>