<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.eastteam.myprogram.dao.UserMybatisDao">

	<select id="getRoleId" resultType="String">
	    select role_id from user_role where user_id=#{userId}
	</select>	
	
	<select id="getUser" parameterType="User" resultType="User">
		select r.id
		from users r
		where r.id=#{id}
	</select>
	<select id="getUserByIdPwd"  resultType="User">
		select r.id,r.name
		from users r
		where r.id=#{id} and password=#{password}
	</select>
    	<!-- 插入用户-->
	<insert id="save" parameterType="User">
		insert into users (id, name, password, register_date) 
		values(#{id},#{name},#{password},now());
	</insert>	
	<update id="saveResetToken" parameterType="User">
		update users set
		resetToken=#{resetToken}
		where id=#{id}
	</update>
	<select id="getResetToken" resultType="String">
		select resetToken
		from users
		where id=#{id}
	</select>
	<update id="savePassword" parameterType="User">
		update users set
		password=#{password}, 
		resetToken=''
		where id=#{id}
	</update>
	
</mapper> 
